@charset "UTF-8";

body{
    background-image: linear-gradient(to right, darksalmon, white);
    color: black;
    font-size: xx-large;
    font-family: Arial;
    text-align: center;
}

h1
{
    text-decoration: underline none;
    color: black;
    font-size: 70pt;
    text-align: center;
}

a{
    text-decoration: none;
}
